<div class="row">
    <div class="col-2 order-last">
      First in DOM, ordered last
    </div>
    <div class="col-8">
      <%= render "form" %>
      <%= render "feed" %>
    </div>
    <div class="col-2 order-first">
      Third in DOM, ordered first
    </div>
  </div>