<div class="row">
    <div class="col-2 order-last">
      1234
    </div>
    <div class="col-7">
      <%= render "form" %>
      <%= render "feed" %>
    </div>
    <div class="col-3 order-first">
    <% if user_signed_in? %>
      <%= render "users/profile" %>
    <% end %>
    <div class="card">
  <div class="card-header">
    Trending Hash Tags
  </div>
  <ul class="list-group list-group-flush">
  <% 8.times do |item| %>
  <li class="list-group-item">
  <%= link_to "#Tag#{item}", "#" %>
  </li>
  <% end %>
  </ul>
</div>
    </div>
  </div>