
<div class="row">
    <div class="col-2 order-first">
      Similar tweets
    </div>
    <div class="col-10">
        <%= render @tweet %>
      <%= link_to edit_tweet_path(@tweet), class: "p-2" do %>
       <i class="fa-solid fa-sm fa-pen-to-square"></i>
      <% end %> 
      <%= link_to @tweet, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "p-2" do %>
        <i class="fa-solid fa-sm fa-trash-can"></i>
      <% end %> 
    </div>
  </div>