<div id="<%= dom_id notification %>">
  <p>
    <strong>Seen:</strong>
    <%= notification.seen %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= notification.type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

</div>
